In [1]:
# 基礎課題11.1
import numpy as np
import pandas as pd 
df_data = pd.DataFrame(
    {'a': np.arange(0,19,6),
     'b': np.arange(1,20,6),
     'c': np.arange(2,21,6),
     'd': np.arange(3,22,6),
     'e': np.arange(4,23,6),
     'f': np.arange(5,24,6)},
    index = [1,2,3,4])
display(df_data)

    a   b   c   d   e   f
1   0   1   2   3   4   5
2   6   7   8   9  10  11
3  12  13  14  15  16  17
4  18  19  20  21  22  23

In [2]:
# 基礎課題9.2
print('問1')
print(df_data.loc[3,'d'])
print(df_data.iloc[2,3]) #別解1
print(df_data.at[3,'d']) #別解2
print(df_data.iat[2,3]) #別解3

print('問2')
print(df_data.loc[1,:])
print(df_data.loc[1,]) # 別解1 (カラム名の場合コロンは省略化)
print(df_data.iloc[0,:]) # 別解2

print('問3')
print(df_data.loc[:,'d'])
print(df_data.iloc[:,3]) # 別解1

print('問4')
print(df_data.loc[2:5,'c':'e'])

問1
15
15
15
15
問2
a    0
b    1
c    2
d    3
e    4
f    5
Name: 1, dtype: int64
a    0
b    1
c    2
d    3
e    4
f    5
Name: 1, dtype: int64
a    0
b    1
c    2
d    3
e    4
f    5
Name: 1, dtype: int64
問3
1     3
2     9
3    15
4    21
Name: d, dtype: int64
1     3
2     9
3    15
4    21
Name: d, dtype: int64
問4
    c   d   e
2   8   9  10
3  14  15  16
4  20  21  22

In [3]:
# 基礎課題11.3
df_data.loc[1,:] = 30
df_data.loc[:,'C':'D'] = 30
display(df_data)

    a   b   c   d   e   f
1  30  30  30  30  30  30
2   6   7   8   9  10  11
3  12  13  14  15  16  17
4  18  19  20  21  22  23