# プログラム19.1

In [1]:
import pandas as pd
import numpy as np
# データの読み込み
data = pd.read_excel('data//demographic.xlsx', index_col = 'ID')
display(data) # データ全体を出力
print(data.columns) # カラム名を出力

       年齢  性別
ID
1      45   1
2      48   2
3      65   2
4      10   2
5      22   2
...    ..  ..
14996   6   1
14997  53   2
14998  29   1
14999  55   2
15000   9   1

[15000 rows x 2 columns]

Index(['年齢', '性別'], dtype='object')

# プログラム19.2

In [2]:
print(len(data)) # 方法1
print(data.shape) # 方法2

15000
(15000, 2)

# プログラム19.3

In [3]:
male = 0 # 男性の人数を代入する変数に初期値0を代入する
female = 0 # 女性の人数を代入する変数に初期値0を代入する

# ID を利用して男女別の人数カウントを開始するために回答者分繰り返し
for i in data.index: # i は 1 から 15000 まで変化       
    #print(i)
    if data.at[i, '性別'] == 1: # ID i の人が 1 （男性）なら
        male = male + 1 # male に 1 を加える(男性の人数が 1 増加)
    else: # それ以外。すなわち、ID i の人が 2 （女性）であれば
        female = female + 1 # femaleに 1 を加える(女性の人数が 1 増加)
# カウントの結果である男性人数と女性人数を表示
print('男性:', male, '女性:', female, '合計人数:', male + female)

男性: 6762 女性: 8238 合計人数: 15000

# プログラム19.4

In [4]:
male_age = 0 # 男性の年齢を加える変数 (全男性の合計年齢)
female_age = 0 # 女性の年齢を加える変数(全女性の合計年齢)

for i in data.index:
    if data.at[i,'性別'] == 1: # ID iの人が男性なら
        # 男性の年齢の合計にID iの年齢を加算
        male_age = male_age + data.at[i,'年齢']
    else: # ID i が女性なら、女性の年齢の合計にID i の年齢を加える
        female_age = female_age + data.at[i,'年齢']
# 年齢の総合計を人数で割り、男性と女性の平均年齢を計算
print('男性の平均年齢:', male_age / male,' 女性の平均年齢:', female_age / female)

男性の平均年齢: 33.004436557231585  女性の平均年齢: 33.093712066035444

# プログラム19.5

In [5]:
ave_male_age = male_age / male # 男性の平均年齢
ave_female_age = female_age / female # 女性の平均年齢
var_male = 0 # 男性の年齢の分散を求める変数
var_female = 0 # 女性の年齢の分散を求める変数

for i in data.index: 
    if data.at[i, '性別'] == 1: # ID iの人が男性(1)なら
        # 男性の個々の年齢と平均年齢の差の二乗を加算
        var_male += (data.at[i, '年齢'] - ave_male_age) ** 2 
    else: # ID iの人が女性(2)なら、女性の個々の年齢と平均年齢の差の二乗を加算
        var_female += (data.at[i, '年齢'] - ave_female_age) ** 2
var_male /= male # 9行目で計算した差の二乗の合計 / 人数 = 男性の年齢の分散
var_female /= female # 11行目で計算した差の二乗の合計 / 人数 = 男性の年齢の分散
# 標準偏差は分散(var_maleまたはvar_female)の平方根
print('男性の分散:',var_male, '標準偏差', np.sqrt(var_male))
print('女性の分散:',var_female, '標準偏差', np.sqrt(var_female))

男性の分散: 350.68942131075005 標準偏差 18.726703428813895
女性の分散: 347.6865324453761 標準偏差 18.6463544009379

# プログラム19.6

In [6]:
df_s = data.sort_values('年齢') # 昇順（小さい順）に並び替え
print('min:',df_s.iloc[0, 0]) # 年齢の0番目
print('max:',df_s.iloc[len(data) - 1, 0]) # 年齢の14999番目

min: 1
max: 65

# プログラム19.7

In [7]:
n = len(df_s) # データの数
q = (n - 1) * 50 / 100 # 整数と小数部分の計算のために用意
i = int(q) # 整数に変換して整数部分を求める
dp = q - i # 実数から整数部分を除き小数部分を求める
# 「i番目の年齢 + 小数部分 (i+1番目の年齢 - i番目の年齢)」
q50 = df_s.iloc[i, 0] + dp * (df_s.iloc[i + 1, 0] - df_s.iloc[i, 0])
print('50%点の位置:',i , '小数:',dp , '中央値:', q50)

50%点の位置: 7499 小数: 0.5 中央値: 33.0

# プログラム19.8

In [8]:
print('25%点は',data['年齢'].quantile(0.25))
print('75%点は',data['年齢'].quantile(0.75))

25%点は 17.0
75%点は 49.0

# プログラム19.11
プログラム19.9と19.10は練習問題の解答例へ

In [9]:
# (0,10], ..., (60,70] の度数の保存先を用意
age_df = pd.DataFrame(np.zeros(7))
age_df.columns = ['度数'] # カラム名を変更
for i in data.index:
    age = int((data.at[i, '年齢'] - 1) / 10)
    age_df.iat[age, 0] += 1    
age_df.index = ['(0, 10]', '(10, 20]', '(20, 30]', 
                '(30, 40]', '(40, 50]', '(50, 60]', '(60, 70]'] 
print(age_df)

              度数
(0, 10]   2290.0
(10, 20]  2275.0
(20, 30]  2328.0
(30, 40]  2302.0
(40, 50]  2370.0
(50, 60]  2327.0
(60, 70]  1108.0

# プログラム19.12

In [10]:
# 性別ごとにカウントする
print(data['性別'].value_counts())

2    8238
1    6762
Name: 性別, dtype: int64

# プログラム19.13

In [11]:
# 年齢ごとの基本統計量を計算する
print(data['年齢'].describe())
# count は data 内の人数
# mean は平均
# std は標準偏差(不偏)
# min は最小値, max は最大値
# 25%は25%点
# 50%は中央値
# 75%は75%点

count    15000.000000
mean        33.053467
std         18.683294
min          1.000000
25%         17.000000
50%         33.000000
75%         49.000000
max         65.000000
Name: 年齢, dtype: float64

# プログラム19.14

In [12]:
# binsの数値を境に年齢を分割
age = pd.cut(data['年齢'], bins = [0, 10, 20, 30, 40, 50, 60, 70])

# 度数の計算
p_data = age.value_counts()
print(p_data) # カウントした度数を出力
# 実行結果の出力順番は環境により異なる場合があります

(40, 50]    2370
(20, 30]    2328
(50, 60]    2327
(30, 40]    2302
(0, 10]     2290
(10, 20]    2275
(60, 70]    1108
Name: 年齢, dtype: int64

# プログラム19.15

In [13]:
import pandas as pd 
df = pd.read_csv('data//seiseki_8s.csv', index_col = 'ID')
# Jupyter Notebook 上で表示するサイズを設定
pd.set_option('display.max_columns', 9) # 列数を 9 に制限
pd.set_option('display.max_rows', 4) # 行数を 4 に制限
display(df)

       国語  数学  英語  理科  社会  音楽  体育  技術家庭
ID
10001  75  55  72  48  74  39  62    37
10002  74  35  56  86  72  56  89    59
...    ..  ..  ..  ..  ..  ..  ..   ...
11131  77  42  61  58  72  66  76    54
11132  70  34  57  50  81  40  35    49

[1132 rows x 8 columns]

# プログラム19.16

In [14]:
pd.options.display.precision = 2 # 小数点の有効桁数を 2 桁へ
pd.set_option('display.max_rows', 8) # 表示する行数を 8 に 変更
display(df.describe()) # カウントを含めた基本統計量を算出

            国語       数学       英語       理科       社会       音楽       体育     技術家庭
count  1132.00  1132.00  1132.00  1132.00  1132.00  1132.00  1132.00  1132.00
mean     70.44    48.64    62.35    49.07    69.53    47.83    65.94    55.40
std       8.15    16.71    10.93    13.61     8.80    14.69    11.39    14.45
min      40.00     0.00    30.00    10.00    40.00     0.00    30.00    10.00
25%      65.00    38.00    55.00    40.00    64.00    38.00    59.00    46.00
50%      70.00    48.00    62.00    49.00    69.00    48.00    66.00    56.00
75%      76.00    59.25    70.00    59.00    75.00    57.00    74.00    66.00
max     100.00   100.00   100.00   100.00   100.00   100.00   100.00   100.00

# プログラム19.17

In [15]:
df.query('国語 >= 90 and 数学 <= 20')

        国語  数学  英語  理科  社会  音楽  体育  技術家庭
ID
10004   90   2  69  35  66  47  98    43
10608  100  19  58  49  63  82  71    77

# プログラム19.18

In [16]:
print(df.query('国語 < 65 and 数学 < 38 and 英語< 55 and 理科 < 40 and 社会 < 64'))

Empty DataFrame
Columns: [国語, 数学, 英語, 理科, 社会, 音楽, 体育, 技術家庭]
Index: []

# プログラム19.19

In [17]:
print(df.query('国語 >= 76 and 数学 >= 59 and 英語 >= 70 and 理科 >= 59 and 社会 >= 75 and 音楽 >=57 and 体育 >=74 and 技術家庭 >=66'))

Empty DataFrame
Columns: [国語, 数学, 英語, 理科, 社会, 音楽, 体育, 技術家庭]
Index: []

# プログラム19.20

In [18]:
print(df.query('国語 >= 76 and 数学 >= 59 and 英語 >= 70 and 理科 >= 59 and 社会 >= 75'))

       国語  数学  英語  理科  社会  音楽  体育  技術家庭
ID
10436  81  61  71  72  85  53  67    38
10711  77  59  79  65  75  41  66    41
10882  80  62  73  59  77  59  51    65

# プログラム19.21

In [19]:
filepass = 'data//pandas_seiseki.xlsx' # 保存先のファイルパス
# 表計算ソフトに書き込むデータを計算
dodf = df.sum(axis = 1).sort_values(ascending = False) # 全科目の各生徒の合計点を算出してから降順に並び替えて代入
sumdf = df.sum(axis = 1).describe() # 合計点の各統計量
odf = df.query('国語 >= 76 and 数学 >= 59 and 英語 >= 70 and 理科 >= 59 and 社会 >= 75') # 5教科成績優秀者の抽出

# ファイルパスと文字コードを指定した書き込み命令を w と略記して利用する
with pd.ExcelWriter(filepass) as w:
    # シート名「成績表」に df を書き込む
    df.to_excel(w, sheet_name = '成績表', encoding = 'shift_jis') 
    # シート名「降順済成績表」に dodf を書き込む
    dodf.to_excel(w, sheet_name = '降順済成績表') 
    # シート名「合計の基本統計量」に sumdf を書き込む
    sumdf.to_excel(w, sheet_name = '合計の基本統計量')
    # シート名「優秀な生徒」に odf を書き込む 
    odf.to_excel(w, sheet_name = '優秀な生徒')

# 練習問題の解答例
# プログラム19.22

In [20]:
df = pd.DataFrame({'ren':np.arange(5, 8)})
display(df)
goukei = 0 # 合計を入れる変数
var = 0 # 分散を入れる変数
for k in df.index: # 平均値を求めるために合計を算出
    goukei = goukei + df.at[k, 'ren']
ave = goukei / df.size # 平均値の計算
for j in df.index: # 分散の計算のために繰り返し
    var = var + (df.at[j, 'ren'] - ave) ** 2
var = var / df.size # 分散を計算
print('平均:', ave, '分散:', var)

   ren
0    5
1    6
2    7

平均: 6.0 分散: 0.6666666666666666

# プログラム19.23

In [21]:
df_ren = pd.DataFrame({'ren':np.arange(10, 20)})
df_rens = df_ren.sort_values('ren') # 並び替え
print('min:', df_rens.iloc[0, 0], '便利な関数:',df_ren['ren'].min()) # 最小値
print('max:', df_rens.iloc[len(df_rens) - 1, 0], '便利な関数:', df_ren['ren'].max()) # 最大値
q = (len(df_rens) - 1) * 25 / 100  # 実数値を求める
i = int(q) # 整数部分
dp = q - i # 小数部分
q25 = df_rens.iloc[i, 0] + dp * (df_rens.iloc[i+1, 0] - df_rens.iloc[i, 0])
print('25%点の位置:', i , '小数:', dp, '25%点:',q25)
print('50%点は', df_ren['ren'].quantile(0.50), '75%点は', df_ren['ren'].quantile(0.75))

min: 10 便利な関数: 10
max: 19 便利な関数: 19
25%点の位置: 2 小数: 0.25 25%点: 12.25
50%点は 14.5 75%点は 16.75

# コラム
# プログラム19.27

In [22]:
df = pd.read_csv('data//seiseki_3_10.csv', index_col='ID')
pd.set_option('display.max_columns', 8)
pd.set_option('display.max_rows', 64)
pd.options.display.precision = 2
new_df = df.groupby(['学年','クラス']).describe().T
display(new_df)

学年              1                         ...      3
クラス             A       B       C      D  ...      G      H       I       J
国語   count  25.00   18.00   28.00  34.00  ...  20.00  23.00   57.00   26.00
     mean   67.76   66.17   65.54  67.38  ...  69.45  75.13   74.54   76.81
     std     9.91   13.34   12.80  10.63  ...  11.61  10.77    9.16   10.91
     min    50.00   40.00   44.00  45.00  ...  54.00  50.00   55.00   52.00
     25%    63.00   59.25   56.00  61.00  ...  60.50  68.50   69.00   68.25
     50%    68.00   70.50   65.00  66.50  ...  67.00  77.00   73.00   78.50
     75%    73.00   77.00   72.25  73.75  ...  76.25  80.50   81.00   84.00
     max    97.00   84.00  100.00  92.00  ...  99.00  98.00  100.00   99.00
数学   count  25.00   18.00   28.00  34.00  ...  20.00  23.00   57.00   26.00
     mean   35.88   49.78   51.43  44.76  ...  45.45  42.57   46.82   46.12
     std    14.43   13.19   20.14  19.43  ...  17.61  17.39   17.27   17.78
     min    11.00   25.00    5.00   6.00  ...  16.00  13.00    9.00   17.00
     25%    26.00   42.50   40.75  34.75  ...  30.50  32.50   37.00   34.00
     50%    39.00   46.50   52.00  45.50  ...  47.50  41.00   46.00   45.50
     75%    46.00   56.00   60.00  60.00  ...  55.50  56.00   61.00   59.00
     max    69.00   74.00  100.00  79.00  ...  80.00  74.00   83.00   86.00
英語   count  25.00   18.00   28.00  34.00  ...  20.00  23.00   57.00   26.00
     mean   62.80   65.06   64.50  64.68  ...  67.00  64.26   68.72   68.73
     std    13.40   11.32   16.73  12.16  ...  11.04  11.58   13.70   12.88
     min    39.00   46.00   32.00  42.00  ...  50.00  47.00   30.00   40.00
     25%    59.00   56.25   51.75  55.25  ...  59.75  56.50   59.00   61.25
     50%    62.00   66.00   64.50  64.00  ...  65.00  64.00   70.00   68.50
     75%    69.00   72.25   77.25  74.75  ...  76.00  68.50   78.00   75.00
     max    87.00   83.00  100.00  88.00  ...  88.00  92.00   99.00  100.00
理科   count  25.00   18.00   28.00  34.00  ...  20.00  23.00   57.00   26.00
     mean   47.92   53.17   54.61  49.32  ...  58.50  50.74   52.44   56.62
     std    20.30   20.80   18.49  17.72  ...  12.48  13.53   13.57   14.55
     min    11.00   13.00   12.00  10.00  ...  25.00  23.00   15.00   28.00
     25%    32.00   42.00   45.00  35.50  ...  49.50  42.50   44.00   45.25
     50%    48.00   47.00   55.00  51.00  ...  62.00  48.00   54.00   61.00
     75%    60.00   63.00   65.00  63.25  ...  68.00  62.00   59.00   67.00
     max    88.00  100.00   88.00  96.00  ...  76.00  77.00  100.00   82.00
社会   count  25.00   18.00   28.00  34.00  ...  20.00  23.00   57.00   26.00
     mean   65.28   64.33   65.96  66.88  ...  72.80  75.17   70.40   65.85
     std     9.92   10.52   11.90   9.02  ...  13.95  13.40   12.84   15.71
     min    45.00   45.00   44.00  49.00  ...  47.00  42.00   40.00   42.00
     25%    59.00   56.50   58.00  62.00  ...  62.75  69.50   62.00   53.25
     50%    65.00   65.50   65.50  68.00  ...  70.50  73.00   70.00   68.00
     75%    73.00   72.00   73.25  74.75  ...  81.25  85.00   80.00   73.50
     max    82.00   84.00  100.00  82.00  ...  99.00  99.00   99.00   98.00
音楽   count  25.00   18.00   28.00  34.00  ...  20.00  23.00   57.00   26.00
     mean   47.24   57.11   54.61  52.50  ...  63.45  59.74   54.60   63.27
     std    19.67   16.09   25.67  18.31  ...  15.64  17.91   20.07   17.95
     min    14.00   26.00   10.00   0.00  ...  32.00  16.00    0.00   23.00
     25%    31.00   46.25   38.75  44.00  ...  56.00  49.50   42.00   55.25
     50%    49.00   57.50   56.50  55.50  ...  64.50  63.00   52.00   66.00
     75%    62.00   68.50   75.50  60.75  ...  72.25  71.50   68.00   76.25
     max    88.00   84.00   99.00  98.00  ...  99.00  86.00   99.00   95.00
体育   count  25.00   18.00   28.00  34.00  ...  20.00  23.00   57.00   26.00
     mean   55.68   64.94   59.61  55.29  ...  67.40  63.35   66.72   62.77
     std    11.25    9.88   14.87  14.98  ...  13.68  13.21   12.00   11.83
     min    30.00   44.00   32.00  34.00  ...  46.00  30.00   40.00   38.00
     25%    50.00   59.50   51.25  43.75  ...  56.50  56.50   59.00   57.00
     50%    58.00   67.50   58.00  52.50  ...  67.50  64.00   66.00   64.50
     75%    63.00   70.00   72.00  62.50  ...  77.50  72.50   74.00   71.75
     max    77.00   90.00   89.00  96.00  ...  95.00  81.00   92.00   81.00
技術家庭 count  25.00   18.00   28.00  34.00  ...  20.00  23.00   57.00   26.00
     mean   46.52   43.17   50.96  50.38  ...  60.50  56.61   58.60   53.12
     std    15.31   15.55   13.85  17.18  ...  17.25  16.05   19.67   16.16
     min    23.00   13.00   21.00  16.00  ...  36.00  25.00   10.00   22.00
     25%    36.00   31.75   42.50  38.50  ...  44.75  48.00   45.00   43.50
     50%    47.00   41.50   52.00  54.00  ...  60.50  58.00   59.00   52.00
     75%    55.00   55.75   63.00  62.75  ...  73.00  66.50   72.00   65.50
     max    74.00   70.00   74.00  77.00  ...  93.00  93.00   99.00   84.00

[64 rows x 30 columns]